@import "tailwindcss";


.exo {
   
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
  .roboto {
    font-family: 'Roboto', sans-serif;
  }
  
  
html {
    transition: background-color 0.3s, color 0.3s;
  }
  
/* Add in your global CSS */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
